{
    "source": {
        "directories": [
            "src"
        ]
    },
    "timeout": 45,
    "logs": {
        "text": "build/infection/infection-log.txt",
        "summary": "build/infection/summary-log.txt",
        "debug": "build/infection/debug-log.txt"
    },
    "mutators": {
        "@default": true,
        "@function_signature": false,
        "IdenticalEqual": {
            "ignore": [
                "MallardDuck\\Whois\\Client",
                "MallardDuck\\Whois\\WhoisServerList\\DomainLocator"
            ]
        },
        "MethodCallRemoval": {
            "ignore": [
                "MallardDuck\\Whois\\Exceptions\\MissingArgException",
                "MallardDuck\\Whois\\Exceptions\\UnknownWhoisException"
            ]
        },
        "Throw_": {
            "ignore": [
                "MallardDuck\\Whois\\Client"
            ]
        }
    }
}
